{% extends 'base.html' %}
{% load static %}
{% block base %}
{% include 'navbar.html' %}

<link href="{% static 'assets/css/profileform.css' %}" rel="stylesheet">
<div class="container" style="margin-top: 15rem;">
    <div class="row">
        <div class="col-lg-3 pb-5">
            <!-- Account Sidebar-->
            <div class="author-card">
                <div class="author-card-profile">
                    <div class="author-card-avatar d-block mx-auto mb-3" style="max-width: 8rem; max-height: 10rem; ">
                        <img src="{% static 'assets/images/icons/user.png' %}" alt="Daniel Adams" class="img-fluid rounded">
                    </div>
                    <div class="author-card-details d-block mx-auto">
                        <h5 class="author-card-name text-lg text-center text-uppercase">{{user.name}}</h5>       
                    </div>
                </div>
            </div>
            <div class="d-block mx-auto" style="max-width: 15rem;">
                <nav class="list-group list-group-flush">
                    <a class="list-group-item" href="{% url 'view_profile' %}">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-shopping-bag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase active">Profile</div>
                            </div>
                        </div>
                    </a>
                    <!--<a class="list-group-item " href="{% url 'view_profile' %}"><i class="fe-icon-user text-muted"></i>Profile Settings</a><a class="list-group-item" href="#"><i class="fe-icon-map-pin text-muted"></i>Addresses</a>-->
                    <!--<a class="list-group-item" href="https://www.bootdey.com/snippets/view/bs4-wishlist-profile-page" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-heart mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Enrollment Courses</div>
                            </div>
                        </div>
                    </a>-->
                    <a class="list-group-item active" href="{% url 'change_password' %}" target="__blank">
                        <div class="d-flex justify-content-between align-items-center">
                            <div><i class="fe-icon-tag mr-1 text-muted"></i>
                                <div class="d-inline-block font-weight-medium text-uppercase">Change Your Password</div>
                            </div>
                        </div>
                    </a>
                </nav>
            </div>
        </div>
        
    <div class="col-lg-9">
        
        <!--<h5 class="author-card-name text-lg text-uppercase">Personal Details</h5>-->
        <div class="row table-responsive-xl">
            
        <table class="table">
            <tbody>
               
<div class="container" style="margin-bottom:100px;">
  <div class="row d-flex justify-content-center">
  <div class="col-md-7">
<div class="card">
  <h5 class="card_header text-center py-4">
    <span style="font-family:sans-serif; font-weight:400;">CHANGE YOUR PASSWORD</span>
  </h5>
  <div class="card-body p-3 pt-0">
    <form class="text-center" style="color: #757575;">
      <div class="formdiv">
        <input type="email" id="Name" placeholder="Old password" class="form-control border-radius">
      </div>
      <div class="formdiv">
        <input type="email" id="email" placeholder="New password" class="form-control border-radius">
      </div>
      <div class="formdiv">
        <input type="password" id="Password" placeholder="New password confirmation" class="form-control border-radius">
      </div>
      
      
       
      
      
      <!-- Sign in button -->
      <button class="btn formbutton border-radius my-4 btn-block" type="submit">Change Password</button>

      <!-- Register -->
      
    </form>
  </div>
</div>
</div>
    
    
 
    </form>
  </div>
</div>
</div>
    
    
  </div>
</div>
            </tbody>
        </table>
    </div>
    </div>
    
    
                


        
        <!-- Profile Settings-->
        <!--<div class="col-lg-8 p-5 m-4">
            <form class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-fn">First Name</label>
                        <input class="form-control" type="text" id="account-fn" value="Daniel" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-ln">Last Name</label>
                        <input class="form-control" type="text" id="account-ln" value="Adams" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-email">E-mail Address</label>
                        <input class="form-control" type="email" id="account-email" value="daniel.adams@example.com" disabled="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-phone">Phone Number</label>
                        <input class="form-control" type="text" id="account-phone" value="+7 (805) 348 95 72" required="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-pass">New Password</label>
                        <input class="form-control" type="password" id="account-pass">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="account-confirm-pass">Confirm Password</label>
                        <input class="form-control" type="password" id="account-confirm-pass">
                    </div>
                </div>
                <div class="col-12">
                    <hr class="mt-2 mb-3">
                    <div class="d-flex flex-wrap justify-content-between align-items-center">
                        <button class="btn btn-style-1 btn-primary" type="button" data-toast="" data-toast-position="topRight" data-toast-type="success" data-toast-icon="fe-icon-check-circle" data-toast-title="Success!" data-toast-message="Your profile updated successfuly.">Update Profile</button>
                    </div>
                </div>
            </form>
        </div>-->
    </div>
</div>

        {% include 'footer.html' %}
        {% endblock base %}