{% extends 'base.html' %}
{% load static %}
{% block base %}
{% include 'navbar.html' %}


<!-- Subheader Start -->
        <img src="{% static 'assets/images/elements/element_19.png' %}" alt="element" class="element_1 slideRightTwo">
<div class="subheader relative z-1" style="background-image: url({% static 'assets/images/final.jpg' %}); margin-top: 8rem; ">
    <div class="container relative z-1">
        <div class="row">
            <div class="col-12">
                <h1 class="page_title">Contact Us</h1>
                <div class="page_breadcrumb">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Contact Us</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
        <img src="{% static 'assets/images/elements/element_19.png ' %}" alt="element" class="element_1 slideRightTwo">
        <img src="{% static 'assets/images/elements/element_10.png ' %}" alt="element" class="element_2 zoom-fade">
        <img src="{% static 'assets/images/elements/element_20.png ' %}" alt="element" class="element_3 rotate_elem">
        <img src="{% static 'assets/images/elements/element_21.png ' %}" alt="element" class="element_4 rotate_elem">
    </div>
</div>
<!-- Subheader End -->
<!-- Contact Faq Box Start -->
<section class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInUp">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        Support Team
                    </p>
                    <h3 class="title">We Have a Professional Support Team</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="contact_faq_box shadow_1 wow fadeInDown" data-wow-delay=".30ms">
                    <div class="icon">
                        <img src="{% static 'assets/images/icons/icon_14.png ' %}" alt="icon" class="image-fit-contain">
                    </div>
                    <div class="text">
                        <h4>Customer Support</h4>
                        <p>Tell us about your concern so we can help you more quickly.</p>
                        <a href="tel:+91907215198" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle">Call Now <i class="fal fa-chevron-right ml-2"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="contact_faq_box shadow_1 wow fadeInUp" data-wow-delay=".40ms">
                    <div class="icon">
                        <img src="{% static 'assets/images/icons/icon_15.png ' %}" alt="icon" class="image-fit-contain">
                    </div>
                    <div class="text">
                        <h4>Have Any Questions</h4>
                        <p>Have questions or doubts about Vijayaveedhi courses? We'll help you.</p>
                        <a href="https://wa.me/+919072151980" class="thm-btn bg-thm-color-two thm-color-two-shadow btn-rectangle">Whatsapp<i class="fal fa-chevron-right ml-2"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Contact Faq Box End -->
<!-- Contact Map & Info Start -->
<div class="container">
    <div class="row align-items-center">
        <div class="col-xl-4 col-lg-5">
            <div class="section-title left-align wow fadeInDown">
                <p class="subtitle">
                    <i class="fal fa-book"></i>
                    Contact Us
                </p>
                <h4 class="title">KERALA STATE RUTRONIX</h4>
            </div>
            <div class="contact_info mb-md-80">
                <ul>
                    <li class="wow fadeInUp">
                        <i class="icon fal fa-map-marker-alt"></i>
                        <div class="text">
                            <h6>Location</h6>
                            <p>C-11, Padmasree, Elankom Gardens<br>
                                Sasthamanagalam P.O<br>
                                Trivandrum-10, Kerala, India</p>
                        </div>
                    </li>
                    <li class="wow fadeInDown">
                        <i class="icon fal fa-envelope-open-text"></i>
                        <div class="text">
                            <h6>Email Address</h6>
                            <p><a href="https://webtend.net/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="89fafcf9f9e6fbfdeae6e8eae1e0e7efe6c9eee4e8e0e5a7eae6e4">md@keralastaterutronix.com</a></p>
                        </div>
                    </li>
                    <li class="wow fadeInUp">
                        <i class="icon fal fa-phone"></i>
                        <div class="text">
                            <h6>Contact Us</h6>
                            <p><strong>Mobile: </strong> +91 90 72 151 980</p>
                            <!--<p><strong>Hotline: </strong> +563 789 55</p>-->
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-xl-8 col-lg-7">
            <div class="contact_map relative z-1 wow fadeInRight" id="map">
                <iframe
src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d31566.740456590876!2d76.96312161901854!3d8.514663142291333!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b05ba337c012965%3A0xaa20298664a116f1!2sJan%20Villa%20Ln%2C%20Althara%20Nagar%2C%20Vellayambalam%2C%20Thiruvananthapuram%2C%20Kerala%20695010%2C%20India!5e0!3m2!1sen!2sus!4v1631351795082!5m2!1sen!2sus"
width="600" height="450" frameborder="0" style="border:0;"
allowfullscreen="" aria-hidden="false" tabindex="0">
</iframe>
            </div>
        </div>
    </div>
</div>
<!-- Contact Map & Info End -->
<!-- Contact Form Start -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-title wow fadeInDown">
                    <p class="subtitle">
                        <i class="fal fa-book"></i>
                        Drop A Message
                    </p>
                    <h3 class="title">Have Any Questions Let’s Started Talk</h3>
                </div>
            </div>
        </div>
        <form class="mf_form_validate ajax_submit wow fadeInUp" action="https://webtend.net/demo/html/wellco/sendmail.php" method="post" enctype="multipart/form-data">
            <div class="row">
                <div class="col-lg-6">
                    <div class="form-group form_style">
                        <label>Full Name</label>
                        <input type="text" name="name" class="form-control" autocomplete="off" placeholder="Full Name">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form_style">
                        <label>Phone Number</label>
                        <input type="text" name="phone" class="form-control" autocomplete="off" placeholder="Phone Number">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form_style">
                        <label>Email Address</label>
                        <input type="email" name="email" class="form-control" autocomplete="off" placeholder="Email Address">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="form-group form_style">
                        <label>Subject</label>
                        <input type="text" name="subject" class="form-control" autocomplete="off" placeholder="I Would Like To Discuss">
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="form-group form_style">
                        <label>Message</label>
                        <textarea rows="10" class="form-control" placeholder="Write Message" autocomplete="off" name="message"></textarea>
                    </div>
                </div>
                <div class="col-lg-12 text-center">
                    <button type="submit" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle">Send Your Message <i class="fal fa-chevron-right ml-2"></i></button>
                </div>
            </div>
        </form>
    </div>
</section>
<!-- Contact Form End -->
<!-- Cta Start -->
<div class="cta_box style_2">
    <div class="container relative z-2">
        <div class="bg-thm-color-two cta_box_inner z-2 mb-negative">
            <img src="{% static 'assets/images/elements/shape.png ' %}" alt="shape" class="shape_1 zoom-fade">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="text_block wow fadeInLeft">
                        <div class="section-title left-align white">
                            <p class="subtitle">
                                <i class="fal fa-book"></i>
                                Get Admission
                            </p>
                            <h3 class="title">The Route to the Right Career</h3>
                            <a href="#" class="thm-btn bg-thm-color-three thm-color-three-shadow btn-rectangle">Enroll Now <i class="fal fa-chevron-right ml-2"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="image_box relative z-1 wow fadeInRight">
                        <img src="{% static 'assets/images/elements/square_shape.png ' %}" alt="shape" class="shape_2 rotate_elem">
                        <img src="{% static 'assets/images/admission (3).png ' %}" alt="img" class="image-fit">
                        <div class="arrows slideRight">
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                            <div class="arrow"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrows to_up slideTop">
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
            <div class="arrow"></div>
        </div>
    </div>
</div>
<!-- Cta End -->
<!-- Plane Star
<div class="bg-thm-color-two plane_box relative z-1">
    <div class="container relative z-1">
        <div class="row justify-content-center">
            <div class="col-xl-9 col-lg-11 relative z-1">
                <img src="{% static 'assets/images/elements/element_6.png ' %}" class="element_1 rotate_elem" alt="Element">
                <h2 class="thm-color-white">The Route to the Right Career</h2>
            </div>
        </div>
        <img src="{% static 'assets/images/elements/element_7.png" class="element_2 zoom-fade" alt="Element">
    </div>
</div>
 Plane End -->
 {% include 'footer.html' %}
 {% endblock base %}