{% extends 'base.html' %}
{% load static %}
{% block base %}
{% include 'navbar.html' %}

<link href="{% static 'assets/css/vtc_page.css' %}" rel="stylesheet">
   <!-- Team Start -->
    <section class="section-padding bg-thm-color-two-gradient z-1">
        <img src="{% static 'assets/images/elements/element_1.png' %}" class="element_1" alt="Element">
        <img src="{% static 'assets/images/elements/element_2.png' %}" class="element_2" alt="Element">
        <div class="container" style="margin-top:6rem;">
            <div class="row">
                <div class="col-12">
                    <div class="section-title wow fadeInDown">
                        <p class="subtitle">
                            <i class="fal fa-book"></i>
                            Find VTC
                        </p>
                        <h3 class="title" style="font-size:26px; text-transform:none;">Choose a District</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- Block Start -->
 <!-- About Start -->
    <section class="about_inner">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                <ul class="about_list row nav nav-tabs container" id="myTab" role="tablist">
				<li class="nav-item col-md-6 wow fadeInDown">
					
                       
                           <div class="team_block style_2 wow fadeInUp nav-link nav-link2 active" id="tvm-tab" data-toggle="tab" href="#tvm" role="tab" aria-controls="hotvmme" aria-selected="true" style="cursor: pointer;">
                        
                        <h6 class="mb-1"><a href="#">Thiruvananthapuram</a></h6>
                       
                          </div>
                         
                </li>
				<li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="klm-tab" data-toggle="tab" href="#klm" role="tab" aria-controls="klm" aria-selected="false" style="cursor: pointer;">
                        
                        <h6 class="mb-1"><a href="#">Kollam</a></h6>
                       
                          </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="pnt-tab" data-toggle="tab" href="#pnt" role="tab" aria-controls="pnt" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Pathanamthitta</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="alp-tab" data-toggle="tab" href="#alp" role="tab" aria-controls="alp" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Alappuzha</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="ktm-tab" data-toggle="tab" href="#ktm" role="tab" aria-controls="ktm" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Kottayam</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="idk-tab" data-toggle="tab" href="#idk" role="tab" aria-controls="idk" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Idukki</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="ekm-tab" data-toggle="tab" href="#ekm" role="tab" aria-controls="ekm" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Ernakulam</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="tsr-tab" data-toggle="tab" href="#tsr" role="tab" aria-controls="tsr" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Thrissur</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="pkd-tab" data-toggle="tab" href="#pkd" role="tab" aria-controls="pkd" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Palakkad</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="mlp-tab" data-toggle="tab" href="#mlp" role="tab" aria-controls="mlp" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Malappuram</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="kzd-tab" data-toggle="tab" href="#kzd" role="tab" aria-controls="kzd" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Kozhikode</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="wnd-tab" data-toggle="tab" href="#wnd" role="tab" aria-controls="wnd" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Wayanad</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="knr-tab" data-toggle="tab" href="#knr" role="tab" aria-controls="knr" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Kannur</a></h6>  
                   </div>
                </li>
                <li class="nav-item col-md-6 wow fadeInDown">
				 <div class="team_block style_2 wow nav-link" id="kgd-tab" data-toggle="tab" href="#kgd" role="tab" aria-controls="kgd" aria-selected="false" style="cursor: pointer;">     
                        <h6 class="mb-1"><a href="#">Kasaragod</a></h6>  
                   </div>
                </li>
              

				
			</ul>
                <!--<ul class="about_list row nav nav-tabs container" id="myTab" role="tablist">
                
                
                           <li class="col-md-6 wow fadeInDown" >
                           
                           <div class="team_block style_2 wow fadeInUp active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true" style="cursor: pointer;" onclick="window.location='#home';">
                        
                        <h6 class="mb-1"><a href="#">Thiruvananthapuram</a></h6>
                       
                          </div>
                          
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                           <a href="">
                           <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="#">Kollam</a></h6>
                       
                          </div>
                          </a>
                        </li>
                        <li class="col-md-6 wow fadeInUp" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp" style="cursor: pointer;" onclick="window.location='http://google.com';">
                        
                        <h6 class="mb-1"><a href="team-details.html">Pathanamthitta</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Alappuzha</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Kottayam</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Idukki</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Ernakulam</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Thrissur</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Palakkad</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Malappuram</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Kozhikode</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Wayanad</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Kannur</a></h6>
                       
                          </div>
                        </li>
                        <li class="col-md-6 wow fadeInDown" style="padding-right: 10px; padding-left: 10px;">
                            <div class="team_block style_2 wow fadeInUp">
                        
                        <h6 class="mb-1"><a href="team-details.html">Kasaragod</a></h6>
                       
                          </div>
                        </li>
    
                    </ul>
                    -->
                 
                </div>
                <div class="col-lg-6">
                    <div class="section-title left-align wow fadeInDown">
                        
                        
                      <div class="tab-content container" id="myTabContent">
			<div class="tab-pane fade show active" id="tvm" role="tabpanel" aria-labelledby="tvm-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
			<div class="tab-pane fade" id="klm" role="tabpanel" aria-labelledby="klm-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1V_yOR8jHekSC848-DK6KpJABi03-QY5L&z=11"></iframe>
                </div>
            </div>
			<div class="tab-pane fade" id="pnt" role="tabpanel" aria-labelledby="pnt-tab">
            <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1sMXJcXXCgKZVCgQpl3suksKNBCbLr1A3&z=11"></iframe>
            </div>
            </div>
            <div class="tab-pane fade" id="alp" role="tabpanel" aria-labelledby="alp-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1txR4bljHQkJ2Ddtv0U7UMD3WYPv_B_Lf&z=10"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="ktm" role="tabpanel" aria-labelledby="ktm-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="idk" role="tabpanel" aria-labelledby="idk-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="ekm" role="tabpanel" aria-labelledby="ekm-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="tsr" role="tabpanel" aria-labelledby="tsr-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="pkd" role="tabpanel" aria-labelledby="pkd-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="mlp" role="tabpanel" aria-labelledby="mlp-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="kzd" role="tabpanel" aria-labelledby="kzd-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="wnd" role="tabpanel" aria-labelledby="wnd-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="knr" role="tabpanel" aria-labelledby="knr-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>
            <div class="tab-pane fade" id="kgd" role="tabpanel" aria-labelledby="kgd-tab">
                <div class="map-container">
	            <iframe width="300" height="450" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/d/embed?mid=1HqMUhgzhpHJtTR04OAs-A460Ljja0la4&z=11"></iframe>
                </div>
            </div>

</div>
                </div>
            </div>
        </div>
    </section>
    <!-- About End -->


                <!-- Block End -->
            </div>
        </div>
    </section>
    <!-- Team End -->
    


<script>
function myFunction() {
  var dots = document.getElementById("dots");
  var moreText = document.getElementById("about-more");
  var btnText = document.getElementById("myBtn");

  if (dots.style.display === "none") {
    dots.style.display = "inline";
    btnText.innerHTML = "Read more"; 
    moreText.style.display = "none";
  } else {
    dots.style.display = "none";
    btnText.innerHTML = "Read less"; 
    moreText.style.display = "inline";
  }
}
</script>
<script>
$('.map-container')
	.click(function(){
			$(this).find('iframe').addClass('clicked')})
	.mouseleave(function(){
			$(this).find('iframe').removeClass('clicked')});
</script>


 {% include 'footer.html' %}
 {% endblock base %}